@media(max-width: 1250px){
	.popup__more{
		top: 50px;
		max-width: 900px;
	}
}




@media(max-width: 1160px){
	/*----------------------header----------------------*/
	.content__item--carton{
		border: none;
	}
	.content__item-image{
		margin-left: 50px;
		width: 80%;
	}
}



@media(max-width: 1010px){
	.make__inner{
		flex-direction: column-reverse;
	}
	.make__item-title{
		width: 100%;
		text-align: center;
	}
	.make__item-title h2{
		padding-left: 0;
	}
	.make__item-text{
		max-width: 100%;
	}
	.sliders{
		margin: 0 auto;
	}
	/*--------clients--------*/
	.clients__item{
		flex-wrap: wrap;
	}

	/*----------overlay-more----------*/
	.popup__more{
		max-width: 640px;
	}
	.popup__more-title{
		font-size: 18px;
	}

	.popup__more-text{
		font-size: 14px;
		line-height: 20px;
		padding: 15px;
	}
	.popup__item{
		width: 100%;
		justify-content: center;
	}
	.popup__item-title{
		width: 100%;
	}
}



@media(max-width: 980px){
	/*----------------------header----------------------*/
	.content__item--carton{
		display: none;
	}
	.content__item--form {
		width: 100%;
		text-align: center;
		margin-left: 0;
		margin: auto;
	}
	/*-------------------------about-------------------------*/
	.about__item {
		max-width: 270px;
	}
	.about__inner-text{
		display: block;
	}
	.about__item-text{
		max-width: none;
	}
}



@media(max-width: 935px){
	.clients__item-image{
		min-width: 45%;
		margin-bottom: 10px;
	}
}



@media(max-width: 920px){
	.slider__review{
		text-align: center;
	}
}



@media (max-width: 875px){
	/*product*/
	.product__item{
		width: 100%;
	}
}



@media (max-width: 860px){
	/*-------------------------about-------------------------*/
	.about__item {
		max-width: 100%;
		text-align: center;
	}
	.about__inner {
		display: block;
	}
	.about__item-title {
		margin-bottom: 15px;
	}


	/*popup*/
	.popup{
		width: 520px;
	}
	.popup-title{
		font-size: 20px;
	}
	.popup__form-text span
	{
		font-size: 18px;
	}
	.popup__form-text{
		margin-bottom: 12px;
		font-size: 24px;
	}
	.popup__form-input{
		width: 100%;
		height: 45px;
	}


}



@media (max-width: 850px) {
	/*----------------------header----------------------*/
	.header__item-phone {
		margin-right: 25px;
		font-size: 15px;
	}
	.header__item--box{
		display: block;
	}
	.header__item-btn {
		padding: 10px 12px 10px 30px;
	}
	.header__item-btn::before{
		top: 11px;
		left: 5px;
	}
	.content__item-title {
		font-size: 25px;
	}
	.content__item-subtitle{
		font-size: 22px;
	}
	.content__item-text {
		font-size: 18px;
		line-height: 18px;
	}
	.conent-span {
		font-size: 18px;
		line-height: 18px;
	}
	.content__item-text p{
		margin-bottom: 13px;
	}
	.content__item-form {
		padding: 0;
		background-color: transparent;
		border-radius: 0;
	}
	/*----------reviews----------*/
	.reviews {
		padding: 35px 0 40px;
	}
}



@media(max-width: 750px){
	/*----------overlay-more----------*/
	.popup__more {
		max-width: 425px;
	}
	.popup__form {
		padding: 15px 35px 19px 35px;
	}
}



@media(max-width: 600px){
	/*popup*/
	.popup{
		width: 300px;
	}
	.popup-title{
		padding: 15px 0;
	}
	.popup__form{
		padding: 20px 15px 20px 15px;
	}
	.popup__form-text{
		font-size: 18px;
		font-weight: 500;
	}
	.popup__form-text span,
	.popup__form-label{
		font-size: 16px;
	}

}


@media(max-width: 576px){
	/*----------------------header----------------------*/
	.header__inner{
		margin: 15px 0 15px 0;
	}
	.header__item-logo{
		background-image: url(../image/header/logo-mobile.png);
		background-repeat: no-repeat;
		background-position: center;
		width: 35px;
		height: 35px;
	}
	.header__item-btn{
		font-size: 0;
		padding: 17px;
	}
	.header__item-btn::before {
		top: 8px;
		left: 7px;
	}
	.header__item-phone span{
		font-weight: 700;
	}
	.content__item-title h2 {
		font-size: 22px;
		color: #ff9d00;
	}
	.content__item-subtitle h3{
		font-size: 18px;
		font-weight: 300;
	}
	.content__item-text {
		font-size: 15px;
	}
	.conent-span {
		font-size: 15px;
	}
	.input-tel {
		width: 100%;
		margin-left: 0;
	}
	.input-tel::placeholder{
		text-align: center;
	}
	/*-------------------------about-------------------------*/
	.about__item{
		margin-bottom: 10px;
		text-align: left;
	}
	.about__item-text {
		margin-bottom: 25px;
	}
	/*product*/
	.product__item-btn {
		margin-right: 0px;
	}
	.product__item-img {
		height: 200px;
		width: 280px;
	}
	.product-title::before{
		display: none;
	}
	.product-title{
		margin-bottom: 0;
	}
	.product{
		padding-bottom: 0;
	}
	.product .container{
		padding-right: 5px;
		padding-left: 5px;
	}
	/*-------------offer-------------*/
	.offer{
		padding-bottom: 50px;
	}
	.offer__title {
		font-size: 22px;
		line-height: 24px;
		padding-top: 0;
		margin-bottom: 20px;
	}
	.offer__title-small {
		font-size: 16px;
		line-height: 24px;
	}
	.offer__form-label{
		font-size: 14px;
		line-height: 30px;
	}
	.offer__form-input{
		width: 100%;
	}
	/*-----------make-----------*/
	.make {
		padding: 30px 0 50px;
	}
	.slider-small{
		display: none;
	}
	.slider-big .slider-item img{
		width: 400px;
		height: 380px;
	}
	/*----------clients----------*/
	.clients__item-image img {
		opacity: 1;
		filter: none;
	}
	/*---------slired-review---------*/
	.slider__review .slick-arrow{
		position: absolute;
		top: 40%;
		font-size: 0;
		width: 30px;
		height: 80px;
	}
	.slider__review .slick-arrow.slick-prev{
		left: 0;
		background-image: url(../image/reviews/../making/prev-white.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-color: #ff9d00;
	}
	.slider__review .slick-arrow.slick-next{
		right: 0;
		background-image: url(../image/reviews/../making/next-white.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-color: #ff9d00;
	}
	/*-------map-------*/
	.map{
		display: none;
	}
	.map-image{
		display: block;
		width: 290px;
		margin: 0 auto;
		margin-bottom: 15px;
	}
	.map-image img{
		height: 420px;
		max-width: 290px;
	}
	.contacts__block-span{
		visibility: visible;
	}
	.contacts__block {
		text-align: center;
		padding-top: 33px;
		position: relative;
		top: 0;
		left: 0;
	}
	.contacts__block-address img,
	.contacts__block-phone img,
	.contacts__block-mail img{
		display: none;
	}
	.contacts__block{
		padding-bottom: 30px;
	}


	.popup__more {
		max-width: 235px;
	}
	.popup__more-title{
		font-size: 15px;
	}
	.popup__inner {
		padding: 10px 0px;
	}
	.popup__item-title {
		font-size: 14px;
	}
	.popup__item-image {
		margin: 0px 13px;
	}
}



@media(max-width: 480px){
	/*----------make----------*/
	.slider-big .slider-item img{
		width: 280px;
	}
	/*-----------clients-----------*/
	.clients__item-image{
		max-width: 180px;
		height: 90px;
		margin-right: 0;
		margin-left: 0;
	}
	.clients__item-image img {
		opacity: 1;
		filter: none;
		max-width: 150px;
		max-height: 75px;
	}
	.product-title{
		font-size: 22px;
		line-height: 24px;
	}
	.slider__review{
		padding: 30px 0;
	}
}



@media(max-width: 420px){
	.make__item-title {
		width: 113%;
		margin-left: -16px;
	}
	.make__item-title h2{
		font-size: 20px;
		font-weight: 700;
		text-transform: uppercase;
	}
	.make__item-text{
		font-size: 14px;
		margin: 10px 0 0 0px;
	}
	/*----------clients----------*/
	.clients__inner {
		padding: 15px 0;
	}
	.clients__item-image{
		width: 135px;
		height: 85px;
	}
	.clients__item-image img {
		opacity: 1;
		filter: none;
		max-width: 110px;
		max-height: 57px;
	}
	/*-------------footer-------------*/
	.footer-text{
		font-size: 11px;
	}


	/*popup*/
	.popup{
		width: 260px;
	}
	.popup-title{
		font-size: 16px;
		padding: 15px 0;
	}
	.popup__form{
		padding: 15px 10px;
	}
	.popup__form-text{
		font-size: 16px;
		font-weight: 500;
	}
	.popup__form-text span,
	.popup__form-label{
		font-size: 14px;
	}
	
}